:root{
  --ifm-color-primary-lightest: #343944;
  --ifm-color-primary-lighter: #2E333C;
  --ifm-color-primary-light: #2C3039;
  --ifm-color-primary: #282c34;
  --ifm-color-primary-dark: #24282F;
  --ifm-color-primary-darker: #22252C;
  --ifm-color-primary-darkest: #1C1F24;
}
